@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.dark {
  --bg: 10 10 10;            /* #0a0a0a */
  --bg-soft: 17 17 19;       /* #111113 */

  --text-light: 245 245 245; /* #f5f5f5 */
  --muted-light: 163 163 163;/* #a3a3a3 */
  --muted: 107 107 111;      /* #6b6b6f */

  --neon-purple: 139 92 246;     /* #8b5cf6 */
  --neon-purple-dark: 109 40 217;/* #6d28d9 */
  --neon-purple-soft: 196 181 253;/* #c4b5fd */

  --border-muted: 39 39 42;  /* #27272a */
}

.light {
  --bg: 255 255 255;
  --bg-soft: 240 240 242;

  --text-light: 10 10 10;
  --muted-light: 40 40 40;
  --muted: 90 90 95;

  --neon-purple: 109 40 217;
  --neon-purple-dark: 76 29 149;
  --neon-purple-soft: 91 33 182;

  --border-muted: 180 180 186;
}